$sitemapchecklist-margin: 5px;
$sitemapchecklist-linewidth: 1px;
$sitemapchecklist-boxwidth: 160px;
$sitemapchecklist-boxheight: 120px;
$sitemapchecklist-buttonsize: 20px;

$color-white: #fff;
$color-gray : #444;
$color-blue : #3b57cc;
$light-gray : #ccc;