.sitemapChecklist {
    position: relative;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    ul {
        li {
            position: relative;
            display: inline-block;
            padding-right: 20px;
            margin-right: 40px;
            
        }
    }
    &__pagewrap {
        margin-left: 40px;
        position: relative;
        &:before {
            z-index: 1;
            content: '';
            width: 40px;
            height: $sitemapchecklist-linewidth;
            position: absolute;
            left: -45px;
            top: 5px;
            background-color: $light-gray;
            display: block;
            
        }
        
        &.has-children {
            
            &:before {
                z-index: 1;
                content: '';
                width: $sitemapchecklist-linewidth;
                height: calc(100% - 36px);
                position: absolute;
                left: -5px;
                top: 5px;
                background-color: $light-gray;
                display: block;
            }
            
            &:after {
                z-index: 1;
                content: '';
                width: 40px;
                height: $sitemapchecklist-linewidth;
                position: absolute;
                left: -45px;
                top: 5px;
                background-color: $light-gray;
                display: block;
                
            }
        }
        
    }
    
    &__details {
        
        .status-ok, .status-fail {
            width: 12px;
            height: 100%;
            display: inline-block;
            background-size: 12px;
            position: absolute;
            top: 0;
            right: 0;
            background-repeat: no-repeat;
            background-position: 50%;
        }
        
        .status-ok {
            &:before {
                color: green;
                content: '\2714';
            }
        }
        .status-fail {
            &:before {
                color: red;
                content: '\2718';
            }
        }
    }
    
    &__edit{
        display: none;
    }
}
